/*--------------------------|
|                           |
|         UNIVERSAL         |
|                           |
|--------------------------*/

body {
    background-color: #160f29;
    color: #f3dfc1;
}

a {
    text-decoration: none;
    color: #f3dfc1;
}

a:visited {
    color: #f3dfc1;
}

.flash-message {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 3em;
}

.flash-message li {
    width: 100%;
    font-size: large;
    height: 100%;
    border: #368f8b 5px solid;
    border-radius: 0;
    margin: 0;
    padding: 5px 15%;
    text-align: center;
}

/*-------------------------|
|                          |
|          HEADER          |
|                          |
|-------------------------*/

header {
    font-size: larger;
    text-align: center;
    padding: 10px;
}

/*--------------------------|
|                           |
|          NAV BAR          |
|                           |
|--------------------------*/

nav {
    border-top: #246a73 1px solid;
    border-bottom: #246a73 1px solid;
    padding: 0px 15%;
    position: sticky;
    position: -webkit-sticky; /*Safari*/
    top: 0;
    background-color: #160f29;
}
.topnav {
    overflow: hidden;
}

.topnav form {
    float: right;
    margin-right: 8px;
    background-color: #368f8b;
    margin-top: 8px
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    border-left: #246a73 1px solid;
}

.topnav a:hover {
    background-color: #368f8b;
    color: #160f29;
}

.topnav input[type=text] {
    padding: 6px;
    border: none;
    font-size: 17px;
}

.topnav input[type=submit] {
    padding: 6px;
    border: none;
    font-size: 17px;
}

.topnav {
    border-right: #246a73 1px solid;
}

/*-------------------------|
|                          |
|           BODY           |
|                          |
|-------------------------*/

main {
    margin: 0 15%;
    border-left: #246a73 solid 1px;
    border-right: #246a73 solid 1px;
    height: 100%;
    padding: 10px;
}

.item-block {
    margin: 0;
    padding: 0;
}

.game-title {
    margin: 0 0 0 5px;
}

.game-info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(min-content, max-content);
    width: 100%;
    margin-bottom: 10px;
}

.left-info, .right-info {
    padding: 5px;
    margin: 5px;
    border: #246a73 1px solid;
    height: 100%;
}

.compatible {
    display: disc;
}

.not-compatible, .any-age, .no-favs .games, .favs .no-games {
    display: none;
}

.hide {
    visibility: hidden;
}

.title .hide {
    margin: 0 10px;
}

.age_restricted, .visible, .no-favs .no-games, .favs .games {
    display: block;
}

li, li a:visited {
    background-color: #368f8b;
    color: #160f29;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 5px;
    margin: 2px;
    display: inline-block;
}

ul {
    margin: 0 15px;
    padding: 0;
}

.game-info h3 {
    margin: 15px;
}

.page-title {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

.page-title .title {
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
}

.title {
    margin: auto;
    padding: 5px;
}

.next-page, .next-page:visited {
    margin: 0;
    visibility: visible;
    background-color: #ddbea8;
    padding: 2px 15px;
    width: fit-content;
    border-radius: 5px;
    color: #160f29;
}

.previous-page, .previous-page:visited {
    margin-right: 0;
    margin-left: auto;
    visibility: visible;
    background-color: #ddbea8;
    padding: 2px 15px;
    width: fit-content;
    border-radius: 5px;
    color: #160f29;
    float: inline-end;
}

.search-hint {
    margin: 0;
    background-color: #368f8b;
    color: #160f29;
    border-radius: 5px;
    width: max-content;
    padding: 0 0.5em;
}

.credits-link {
    text-decoration: underline;
}

/*-------------------------|
|                          |
|          FOOTER          |
|                          |
|-------------------------*/

footer {
    border-top: #246a73 1px solid;
    width: 100%;
    overflow: hidden;
}

footer h2 {
    font-size: 22px;
}

.footer .credits, .footer .terms-of-use {
    margin: 0 10px;
}

.footer .credits:hover {
    text-decoration: underline;
}

.footer .terms-of-use:hover {
    text-decoration: underline;
}