{% extends "layout.html" %}
{% block content %}

<h1 class="game-title">{{game[1]}}</h1>
<div class="game-info">
    <div class="left-info">
        <h3>Genres:</h3>
        <ul>
            {% for genre in genres %}
            <li>
                {{genre[1]}}
            </li>
            {% endfor %}
        </ul>
        <h3>Released {{game[2][8]}}{{game[2][9]}} {{month}} {{game[2][0]}}{{game[2][1]}}{{game[2][2]}}{{game[2][3]}}</h3>
        <h3>Price: {{game[12]}} NZD</h3>
        <h3>Compatable with:</h3>
        <ul>
            <li class={{windows}}>Windows</li>
            <li class={{mac}}>Mac</li>
            <li class={{linux}}>Linux</li>
        </ul>
    </div>
    <div class="right-info">
        sup
    </div>
</div>

{% endblock %}