{% extends "layout.html" %}
{% block content %}

<h1 class="game-title">{{game[1]}}</h1>
<div class="game-info">
    <div class="left-info">
        <h3>Genres:</h3>
        <ul>
            {% for genre in genres %}
            <li>
                <a href="/genre_browsing/{{genre[0]}}/1">
                    {{genre[1]}}
                </a>
            </li>
            {% endfor %}
        </ul>
        <h3>Released {{game[2][8]}}{{game[2][9]}} {{month}} {{game[2][0]}}{{game[2][1]}}{{game[2][2]}}{{game[2][3]}}</h3>
        <h3>Price: {{price}}</h3>
        <h3>Compatable with:</h3>
        <ul>
            <li class={{windows}}>
                <a href="/windows/1">
                    Windows
                </a>
            </li>
            <li class={{mac}}>
                <a href="/mac/1">
                    Mac
                </a>
            </li>
            <li class={{linux}}>
                <a href="/linux/1">
                    Linux
                </a>
            </li>
        </ul>
    </div>
    <div class="right-info">
        <h3>{{percent_rating}}% liked this</h3>
        <h3 class={{age_restrict}}>R{{game[6]}}</h3>
        <h3>{{game[7]}} available achievements</h3>
        <h3>Developer(s):</h3>
        <ul>
            {% for dev in developers %}
            <li>
                <a href="/dev_browsing/{{dev[0]}}/1">
                    {{dev[1]}}
                </a>
            </li>
            {% endfor %}
        </ul>
        <h3>Publisher(s):</h3>
        <ul>
            {% for publisher in publishers %}
            <li>
                <a href="/publisher_browsing/{{publisher[0]}}/1">
                    {{publisher[1]}}
                </a>
            </li>
            {% endfor %}
        </ul>
        <h3>Average playtime: {{average_pt}}</h3>
        <h3>Median playtime: {{median_pt}}</h3>
    </div>
</div>

{% endblock %}