<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Games yay</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/w3.css">
    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>
        <nav>
            {% include "nav.html" %}
        </nav>
        <main>
            {% block content %}{% endblock %}
            <!-- message flashing so the user can get login updates -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>