<!DOCTYPE html>
<html lang="en">
    <head>
        <title>I Like Games</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/w3.css">
    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>
        <nav>
            {% include "nav.html" %}
        </nav>
        <!-- message flashing so the user can get login updates -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash-message">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <main>
            <!-- the actual content here -->
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>