<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Games yay</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/w3.css">
    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>
        <nav>
            {% include "nav.html" %}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>