{% extends "layout.html"%}
{% block content %}

<h1>Sign up</h1>
<!--the ACTION is the route we try to post to-->
<form action="/signup" method="post">
    <label for="username">Username</label><br>
    <input type="text" name="username" maxlength="20"><br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" maxlength="20"><br><br>
    <label for="password">Input password again</label><br>
    <input type="password" name="password2" maxlength="20"><br><br>
    <button type="submit">Sign up</button>
</form>

{% endblock %}